/* Réinitialisation des styles */
body, h1, h2, h3, p, ul, ol, li, div, span, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}


/* Styles spécifiques à l'extension */
body.extension-calendar {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
  overflow-y: auto;
  background-color: #fdfdfd;
  color: #333;
}

.extension-calendar .calendar {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.extension-calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.extension-calendar .arrow {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.extension-calendar .daysOfWeek, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.extension-calendar .days span {
  padding: 10px 0;
  border-radius: 4px;
}

.extension-calendar .current-day {
  color: blue;
  font-weight: bold;
  border: 1px solid blue;
}

.extension-calendar .event {
  color: red;
  font-weight: bold;
}

.extension-calendar .monthly-events {
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.extension-calendar .monthly-events h3 {
  margin-top: 0;
}

.extension-calendar .event-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.extension-calendar .event-item:last-child {
  border-bottom: none;
}

.extension-calendar .event-date {
  font-weight: bold;
}

.extension-calendar .event-title {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 3px;
}

.extension-calendar .event-details {
  font-size: 0.9em;
  color: #555;
}

.extension-calendar .event-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  z-index: 10;
}
